<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.rationalthinkers.unocapture.android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.microphone" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_uno_capture_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_uno_capture_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
            clearTaskOnLaunch set to true, so if user goes to gallery then returns to home,
            we return to the camera rather than remaining in gallery if user relaunches Open Camera
        -->
        <activity
            android:name=".activity.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="fullUser">

            <!-- Main app intent filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Register as a system camera app -->
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <action android:name="android.media.action.IMAGE_CAPTURE_SECURE" />
                <action android:name="android.media.action.STILL_IMAGE_CAMERA"/>
                <action android:name="android.media.action.STILL_IMAGE_CAMERA_SECURE"/>
                <action android:name="android.media.action.VIDEO_CAMERA" />
                <action android:name="android.media.action.VIDEO_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- App links for http/s -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="rationalthinkers.co.za" />
                <data android:pathPattern="/unocapture" />
            </intent-filter>

        </activity>
    </application>

</manifest>